body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	left: 20px;
}

#nav li{
	height: 100px;
	width: 100px;
	padding-left: 10px;
	margin-top: 30px;
	background-size: 100% 100%;
	background-repeat: no-repeat;	
}

#nav li:nth-child(1) {
background-image: url('../images/about_me_button.png');
}
#nav li:nth-child(1):hover {
background-image: url('../images/about_me_button_open.png');
}
#nav li:nth-child(2) {
background-image: url('../images/resume_button.png');
}
#nav li:nth-child(2):hover {
background-image: url('../images/resume_button_open.png');
}
#nav li:nth-child(3) {
background-image: url('../images/projects_button.png');
}
#nav li:nth-child(3):hover {
background-image: url('../images/projects_button_open.png');
}
#nav li:nth-child(4) {
background-image: url('../images/contact_me_button.png');
}
#nav li:nth-child(4):hover {
background-image: url('../images/contact_me_button_open.png');
}
#nav a {
	display: none;
}
#nav li:hover > a{
	display:block;
	color: white;
}

#header, #about_me, #projects{
	width: 100%;
}

#about_me{
	background:url('../images/about_bg.png') 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
}

#resume{
	background: #fff;
	color: white;
	height: 650px;
	padding: 100px 0 0 0;	
}

#projects{
	background: url('../images/secondBG.jpg') 50% 0 no-repeat fixed;
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#projects .bg{
	background: url('../images/trainers.png') 50% 0 no-repeat fixed;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}

#contact_me{
	background: #ccc;
	height: 400px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}